<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/300e3a6a-b597-479d-8328-cc1ccd8c05f3/resourcegroups/rg-web-hook-gateway-system/providers/Microsoft.Web/sites/WebHookGateway</ResourceId>
    <ResourceGroup>rg-web-hook-gateway-system</ResourceGroup>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://webhookgateway.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <IsLinux>true</IsLinux>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>98224436-f326-4308-892e-d0d17e9af837</ProjectGuid>
    <MSDeployServiceURL>waws-prod-am2-203.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebHookGateway</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebHookGateway</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>